<div class="flex flex-col items-center w-full gap-6">
  <h3 class="text-2xl text-white">Nosotros</h3>
  <div class="p-3 rounded-2xl bg-white">
    <p class="text-sm">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
      wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
      iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
      illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
      odio dignissim qui blandit praesent dyikefv
    </p>
  </div>
  <div class="p-3 rounded-2xl bg-white flex flex-col gap-2">
    <h4 class="text-xl">
        Vision
    </h4>
    <p class="text-sm">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
  </div>
  <div class="p-3 rounded-2xl bg-white flex flex-col gap-2">
    <h4 class="text-xl">
        Mision
    </h4>
    <p class="text-sm">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
      nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>
  </div>
</div>
