---

---

 <div class="py-7">
      <div class="hidden md:flex rounded-lg bg-indigo-950">
        <div
          class="w-[38rem] h-[18rem] rounded-lg bg-cover"
          style=`background-image: url('bg-map.png');`
        >
        </div>
        <ul class="px-24 flex flex-col justify-center">
          <li class="text-2xl text-amber-400">Proyecto: Conquistador</li>
          <li class="text-2xl text-amber-400">Puerto Colombia</li>
          <li class="py-6">
            <p class="text-2xl text-amber-400">
              Meta: <span class="text-white"> COP $800.000.000 </span>
            </p>
          </li>
          <li>
            <div class="flex h-10 items-center gap-10">
              <button class="bg-amber-400 px-5 py-2 rounded-lg">Invertir</button
              >
              <ul>
                <li class="text-amber-400">Fecha de inversión:</li>
                <li class="text-white">A partir del</li>
                <li class="text-white">10 de octubre 2025</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>