---

---


<form class="flex flex-col gap-4">
  <label for="user" class="mt-1">Usuario</label>
  <input id="user" type="text" class="w-full bg-gray-300 rounded-sm" />

  <label for="password" class="mt-8">Contraseña</label>
  <input id="password" type="password" class="w-full bg-gray-300 rounded-sm" />

  <div class="mt-6 flex justify-between">
    <button class="bg-amber-400 px-4 py-1 rounded-2xl">Entrar</button>
    <button class="bg-amber-400 px-4 py-1 text-sm rounded-2xl">
      ¿Olvidaste tu Contraseña?
    </button>
  </div>
</form>