---

---


 <div class="md:flex py-28 gap-20 justify-between hidden">
      <ul class="flex flex-col gap-20">
        <li>
          <button class="px-10 w-72 py-1.5 text-lg bg-amber-400 rounded-xl"
            >Vitrina</button
          >
        </li>
        <li>
          <button class="px-10 w-72 py-1.5 text-lg bg-amber-400 rounded-xl"
            >Deuda</button
          >
        </li>
        <li>
          <button class="px-10 w-72 py-1.5 text-lg bg-amber-400 rounded-xl"
            >Lorem ipsum dolor.</button
          >
        </li>
        <li>
          <button class="px-10 w-72 py-1.5 text-lg bg-amber-400 rounded-xl"
            >Porque elegirnos?</button
          >
        </li>
      </ul>
      <div class="bg-gray-400 w-[0.8px] h-[25rem]"></div>
      <div>
        <h2 class="text-center text-lg pb-3">Campañas para invertir</h2>
        <div class="h-[22.5rem] flex flex-col gap-4 overflow-auto px-5">
          <div
            class="bg-gray-200 flex flex-col items-center p-10 gap-6 rounded-md"
          >
            <h3 class="text-xl">Proyecto: Conquistador Puerto Colombia</h3>
            <div class="flex gap-4 items-center">
              <button
                class="bg-amber-400 rounded-md px-2 py-1 flex items-center gap-2"
              >
                <span
                  ><svg
                    class="w-5 h-5 inline"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 128 128"
                    fill="currentColor"
                  >
                    <circle cx="64" cy="64" r="64" fill="#000000"></circle>
                    <rect
                      x="56"
                      y="28"
                      width="16"
                      height="56"
                      rx="8"
                      fill="#FFC107"></rect>
                    <circle cx="64" cy="100" r="10" fill="#FFC107"></circle>
                  </svg>
                </span>Ver mas
              </button>
              <p class="text-lg">Invierte a partir del: 10 de Octubre</p>
            </div>
          </div>
          <div
            class="bg-gray-200 flex flex-col items-center p-10 gap-6 rounded-md"
          >
            <h3 class="text-xl">Proyecto: Conquistador Puerto Colombia</h3>
            <div class="flex gap-4 items-center">
              <button
                class="bg-amber-400 rounded-md px-2 py-1 flex items-center gap-2"
              >
                <span
                  ><svg
                    class="w-5 h-5 inline"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 128 128"
                    fill="currentColor"
                  >
                    <circle cx="64" cy="64" r="64" fill="#000000"></circle>
                    <rect
                      x="56"
                      y="28"
                      width="16"
                      height="56"
                      rx="8"
                      fill="#FFC107"></rect>
                    <circle cx="64" cy="100" r="10" fill="#FFC107"></circle>
                  </svg>
                </span>Ver mas
              </button>
              <p class="text-lg">Invierte a partir del: 10 de Octubre</p>
            </div>
          </div>
          <div
            class="bg-gray-200 flex flex-col items-center p-10 gap-6 rounded-md"
          >
            <h3 class="text-xl">Proyecto: Conquistador Puerto Colombia</h3>
            <div class="flex gap-4 items-center">
              <button
                class="bg-amber-400 rounded-md px-2 py-1 flex items-center gap-2"
              >
                <span
                  ><svg
                    class="w-5 h-5 inline"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 128 128"
                    fill="currentColor"
                  >
                    <circle cx="64" cy="64" r="64" fill="#000000"></circle>
                    <rect
                      x="56"
                      y="28"
                      width="16"
                      height="56"
                      rx="8"
                      fill="#FFC107"></rect>
                    <circle cx="64" cy="100" r="10" fill="#FFC107"></circle>
                  </svg>
                </span>Ver mas
              </button>
              <p class="text-lg">Invierte a partir del: 10 de Octubre</p>
            </div>
          </div>
          <div
            class="bg-gray-200 flex flex-col items-center p-10 gap-6 rounded-md"
          >
            <h3 class="text-xl">Proyecto: Conquistador Puerto Colombia</h3>
            <div class="flex gap-4 items-center">
              <button
                class="bg-amber-400 rounded-md px-2 py-1 flex items-center gap-2"
              >
                <span
                  ><svg
                    class="w-5 h-5 inline"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 128 128"
                    fill="currentColor"
                  >
                    <circle cx="64" cy="64" r="64" fill="#000000"></circle>
                    <rect
                      x="56"
                      y="28"
                      width="16"
                      height="56"
                      rx="8"
                      fill="#FFC107"></rect>
                    <circle cx="64" cy="100" r="10" fill="#FFC107"></circle>
                  </svg>
                </span>Ver mas
              </button>
              <p class="text-lg">Invierte a partir del: 10 de Octubre</p>
            </div>
          </div>
        </div>
      </div>
    </div>