---

---

<form class="flex flex-col gap-4">
  <label for="name">Nombre</label>
  <input id="name" type="text" class="w-full bg-gray-300 rounded-sm" />

  <label for="email">Correo</label>
  <input id="email" type="email" class="w-full bg-gray-300 rounded-sm" />

  <label for="new-password">Contraseña</label>
  <input id="new-password" type="password" class="w-full bg-gray-300 rounded-sm" />

  <button class="bg-amber-400 px-4 py-2 rounded-2xl mt-4 w-full">
    Crear cuenta
  </button>
</form>
